<?xml version="1.0" encoding="UTF-8"?>
<server description="Default server">

    <!-- Enable features -->
    <featureManager>
        <feature>jaxrs-2.1</feature>
		<feature>jndi-1.0</feature>
		<feature>localConnector-1.0</feature>
		<feature>restConnector-2.0</feature>        
        <feature>beanValidation-2.0</feature>
        <feature>appSecurity-2.0</feature>
    </featureManager>

    
    <keyStore id="defaultKeyStore" />
    <!--For a user registry configuration, configure your user registry. For example, configure a basic user registry using the
        basicRegistry element. Specify your own user name below in the name attribute of the user element. For the password,
        generate an encoded password using bin/securityUtility encode and add it in the password attribute of the user element.
        Then uncomment the user element. -->
    <basicRegistry id="basic" realm="BasicRealm">
        <user name="admin" password="admin" />        
    </basicRegistry>

    <logging 
        consoleLogLevel="INFO" 
        logDirectory="${server.output.dir}/logs" 
        maxFileSize="20" 
        maxFiles="5" 
        messageFileName="messages.log" 
        traceFileName="trace.log" 
        traceFormat="ENHANCED" 
        traceSpecification="com.ljd.*=info"
    />	

    <!-- To allow access to this server from a remote client host="*" has been added to the following element -->
    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />

    <application id="phonebook" location="phonebook.war" name="phonebook" context-root="/">
        <classloader apiTypeVisibility="spec, ibm-api, third-party"/>
        <application-bnd>
            <security-role name="user">
                <user name="admin" />
            </security-role>
            <security-role name="AllAuthenticated">
                <special-subject type="ALL_AUTHENTICATED_USERS" />
            </security-role>
        </application-bnd>
    </application>

</server>